{% extends "base.html" %}

{% block content %}
<div class="page-headers">
    <h1>Filament list</h1>
</div>
{% if object_list %}
    <ul class="list-group">
        {% for filament in object_list %}
            <li>
                {{ filament.color }} - 
                
                {% for material in filament.material.all %}
                    {{ material.name }}{% if not forloop.last %}, {% endif %}
                {% empty %}
                    No materials
                {% endfor %}
                
                - {{ filament.amount }}
                <a href="{% url 'printpal_app:filament-edit' filament.pk %}">Edit</a>
                <a href="{% url 'printpal_app:filament-delete' filament.pk %}">Delete</a>
            </li>
        {% endfor %}
    </ul>
{% else %}
<p>No filaments yet. <a href="{% url 'printpal_app:filament-create' %}">Add new filament.</a></p>
{% endif %}
{% endblock %}
