{% extends 'base.html' %}

{% block content %}

<div class="page-headers">
    <h1>Print Jobs</h1>
    <a href="{% url 'printpal_app:printjob-create' %}" class="printjob-btn">
        New Print Job
    </a>
</div>

{% if object_list %}
    <div class="table-container">
        <table class="printjob-table">
            <thead>
                <tr>
                    <th>Preview</th>
                    <th>Model Name</th>
                    <th>Time</th>
                    <th>Actions</th>
                </tr>
            </thead>

            <tbody>
                {% for job in object_list %}
                    <tr>
                        <td>
                            {% if job.image %}
                                <img 
                                    src="{{ job.image }}" 
                                    alt="{{ job.model_name }}"
                                    class="printjob-preview"
                                >
                            {% else %}
                                No image
                            {% endif %}
                        </td>

                        <td>
                            <a class="printjob-link" href="{% url 'printpal_app:printjob-detail' job.pk %}">
                                {{ job.model_name }}
                            </a>
                        </td>

                        <td>{{ job.time }} hrs</td>

                        <td>
                            <a class="printjob-link" href="{% url 'printpal_app:printjob-detail' job.pk %}">
                                View
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% else %}
    <p>
        No print jobs yet.
        <a class="printjob-link" href="{% url 'printpal_app:printjob-create' %}">
            Add new print job.
        </a>
    </p>
{% endif %}

{% endblock %}