{% extends 'base.html' %}

{% block content %}

<div class="page-headers">
    <h1>My Printers</h1>
    <a href="{% url 'printpal_app:printer-create' %}" class="printer-btn">Add printer</a>
</div>
{% if object_list %}
    <ul class="list-group printer-list">
        {% for printer in object_list %}
            <li class="list-group-item printer-item">
                <p class="printer-item-name">{{ printer.name }}</p>
                <p>{{ printer.model_name }}</p>
                <p>Status: {{ printer.status }}</p>
                <a href="{% url 'printpal_app:printer-edit' printer.pk %}">Edit</a>
                <a href="{% url 'printpal_app:printer-delete' printer.pk %}">Delete</a>
            </li>
        {% endfor %}
    </ul>
{% else %}
<p>No printers yet. <a href="{% url 'printpal_app:printer-create' %}" class="printer-link">Add new printer.</a></p>
{% endif %}
{% endblock %}